p
{
    background-color: antiquewhite;
    height: min-content;
    width: 30px;
    text-align: center;
    
    
}
h2{
    background-color: coral;
    height: fit-content;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
}
