p
{
    background-color: antiquewhite;
    height: min-content;
    width: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    
}
h2{
    background-color: coral;
    height: fit-content;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
}
